# Database (PostgreSQL)
DATABASE_URL=postgresql+psycopg2://<user>:<password>@<host>:<port>/<dbname>

# Auth
ADMIN_USERNAME=
ADMIN_PASSWORD=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTE=
REFRESH_TOKEN_EXPIRE_DAYS=

# App
IMAGE_QUALITY=