MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=
ADMIN_USERNAME=
ADMIN_PASSWORD=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTE=
REFRESH_TOKEN_EXPIRE_DAYS=
IMAGE_QUALITY=